<!DOCTYPE html>
<html>
<head>
  <title>Sam's Shoe Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<h1>Shoos R Us</h1>

<h2>Pre-Sale Deal!</h2>
<h3>All shoes £45</h3>

<body>

<%= yield %>


</body>
</html>